<div class="mb-3">
    <label for="field-name" class="form-label">Name</label>
    <input type="text" name="user-name" id="field-name" class="form-control">
  </div>

  <div class="mb-3">
    <label for="field-email" class="form-label">Email</label>
    <input type="email" name="user-email" id="field-email" required class="form-control">
  </div>

  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Sign-up</button>
  </div>
