<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/html-head.ejs') %>

  <body>
    <div class="container">
      <%- include('./partials/header', {active: ''}) %>

      <h1 class="fs-2">Lost in space?</h1>
    </div>

    <%- include('./partials/body-scripts.ejs') %>
  </body>
</html>
