<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/html-head.ejs') %>

  <body>
    <div class="container">
      <%- include('./partials/header', {active: 'newsLetter'}) %>

      <h1 class="fs-2">Thank you for uploading your photo!</h1>

      <%- include('./partials/body-scripts.ejs') %>
  </body>
</html>
